<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.unuse.config.mapper.ConfigMapper">

	<sql id="Config_Column_List">
    	`id`, `name`, `value`, `createTime`, `updateTime`
  	</sql>

	<select id="getConfigValueByName" parameterType="String" resultType="String">
   		select `value` from config where `name` = #{name}
  	</select>

</mapper>