<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.unuse.mall.mapper.MallMapper">

	<resultMap id="MallSellerResultMap" type="MallSeller">
		<id column="uid" property="uid" jdbcType="BIGINT"/>
		<result column="name" property="name" jdbcType="VARCHAR"/>
		<result column="collectNumber" property="collectNumber" jdbcType="INTEGER"/>
		<result column="star" property="star" jdbcType="DECIMAL"/>
		<result column="totalSellNumber" property="totalSellNumber" jdbcType="INTEGER"/>
		<result column="totalSellAmount" property="totalSellAmount" jdbcType="DECIMAL"/>
		<result column="goodsNumber" property="goodsNumber" jdbcType="INTEGER"/>
		<result column="createTime" property="createTime" jdbcType="TIMESTAMP"/>
		<result column="updateTime" property="updateTime" jdbcType="TIMESTAMP"/>
	</resultMap>
	<sql id="Mall_Seller_Column_List">
    	`uid`, `name`, `collectNumber`, `star`, `totalSellNumber`, `totalSellAmount`, `goodsNumber`, `createTime`, `updateTime`
	</sql>

	<select id="getMallSellerByUid" resultMap="MallSellerResultMap" parameterType="Long">
		SELECT
		<include refid="Mall_Seller_Column_List"/>
		FROM mall_seller
		WHERE `uid` = #{uid,jdbcType=BIGINT}
	</select>

	<insert id="addMallSeller" parameterType="MallSeller">
		INSERT INTO mall_seller (`uid`, `name`, `createTime`, `updateTime`)
		VALUES (#{uid}, #{name}, sysDate(), sysDate())
	</insert>

	<update id="updateMallSeller" parameterType="MallSeller">
		UPDATE mall_seller
		<set>
			<if test="name != null">
				`name` = #{name,jdbcType=VARCHAR},
			</if>
			<if test="collectNumber != null">
				`collectNumber` = #{collectNumber,jdbcType=INTEGER},
			</if>
			<if test="star != null">
				`star` = #{star,jdbcType=FLOAT},
			</if>
			<if test="totalSellNumber != null">
				`totalSellNumber` = #{totalSellNumber,jdbcType=INTEGER},
			</if>
			<if test="totalSellAmount != null">
				`totalSellAmount` = #{totalSellAmount,jdbcType=DECIMAL},
			</if>
			<if test="goodsNumber != null">
				`goodsNumber` = #{goodsNumber,jdbcType=INTEGER},
			</if>
			`updateTime` = sysDate(),
		</set>
		WHERE `uid` = #{uid,jdbcType=BIGINT}
	</update>


</mapper>