<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.unuse.mall.mapper.MallMapper">

	<resultMap id="MallReturnGoodsResultMap" type="MallReturnGoods">
		<id column="id" property="id" jdbcType="INTEGER"/>
		<result column="uid" property="uid" jdbcType="BIGINT"/>
		<result column="oid" property="oid" jdbcType="BIGINT"/>
		<result column="itemId" property="itemId" jdbcType="BIGINT"/>
		<result column="reason" property="reason" jdbcType="TINYINT"/>
		<result column="des" property="des" jdbcType="VARCHAR"/>
		<result column="pictureListJson" property="pictureListJson" jdbcType="VARCHAR"/>
		<result column="status" property="status" jdbcType="TINYINT"/>
		<result column="createTime" property="createTime" jdbcType="TIMESTAMP"/>
		<result column="updateTime" property="updateTime" jdbcType="TIMESTAMP"/>
	</resultMap>

	<sql id="Mall_Return_Goods_Column_List">
        `id`, `uid`, `oid`, `itemId`, `reason`, `des`, `pictureListJson`, `status`, `createTime`, `updateTime`
    </sql>

	<select id="getMallReturnGoodsById" resultMap="MallReturnGoodsResultMap">
		SELECT
		<include refid="Mall_Return_Goods_Column_List"/>
		FROM mall_return_goods
		WHERE `id` = #{id}
	</select>

	<select id="getMallReturnGoodsListByUid" resultMap="MallReturnGoodsResultMap">
		SELECT
		<include refid="Mall_Return_Goods_Column_List"/>
		FROM mall_return_goods
		WHERE `uid` = #{uid}
		<if test="status != null">
			AND `status` = #{status}
		</if>
		ORDER BY `id` DESC
		<if test="null != start">
			LIMIT #{start}, #{count}
		</if>
	</select>

	<select id="getMallReturnGoodsListCountByUid" resultType="Integer">
		SELECT
		COUNT(*)
		FROM mall_return_goods
		WHERE `uid` = #{uid}
		<if test="status != null">
			AND `status` = #{status}
		</if>
	</select>

	<insert id="addMallReturnGoods" parameterType="MallReturnGoods">
    INSERT INTO mall_return_goods (`uid`, `oid`, `itemId`, `reason`, `des`, `pictureListJson`, `status`, `createTime`, `updateTime`)
                    VALUES (#{uid}, #{oid}, #{itemId}, #{reason}, #{des}, #{pictureListJson}, #{status}, sysDate(), sysDate())
  </insert>

	<update id="updateMallReturnGoods" parameterType="MallReturnGoods">
		UPDATE mall_return_goods
		<set>
			<if test="reason != null">
				`reason` = #{reason},
			</if>
			<if test="des != null">
				`des` = #{des},
			</if>
			<if test="pictureListJson != null">
				`pictureListJson` = #{pictureListJson},
			</if>
			<if test="status != null">
				`status` = #{status},
			</if>
			`updateTime` = sysDate(),
		</set>
		WHERE `id` = #{id}
	</update>


</mapper>