<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:mvc="http://www.springframework.org/schema/mvc"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

	<!-- 扫描注解包 -->
	<context:component-scan base-package="com.unuse.*.controller"/>
	<context:component-scan base-package="com.unuse.*.service"/>
	<context:component-scan base-package="com.unuse.*.mapper"/>

	<mvc:annotation-driven/>
	<mvc:interceptors>
		<bean class="com.unuse.interceptor.ServerInterceptor"/>
	</mvc:interceptors>

	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="maxUploadSize" value="10485760"/>
		<property name="defaultEncoding" value="UTF-8"/>
	</bean>

	<!-- 定义跳转文件的前后缀, 视图配置 -->
	<bean id="viewResolver" class="org.springframework.web.servlet.view.UrlBasedViewResolver">
		<!-- 自动为action的方法return的字符串加上前缀和后缀，变成一个 可用的url地址 -->
		<property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
		<property name="prefix" value="/WEB-INF/jsp"/>
		<property name="suffix" value=".jsp"/>
	</bean>

	<bean id="messageServer" lazy-init="false" class="com.unuse.message.server.MessageServer" init-method="startServer" destroy-method="stopServer"/>

</beans>